@inject InputService input_service;
@inject DockData dock_data;


<div id=@ID class="dock"
>
    <DockStyle ID=@ID />
    <DockTab ID=@ID parent_events=@parent_events />
</div>

@code {
    [Parameter]
    public string ID { get; set; } = "";
    
    [Parameter]
    public EventActionGroup parent_events { get; set; }
    
}

