@inject DockData dock_data;
@inject InputService input_service;
@inject StyleUpdate style_updater;

@implements IDisposable

@*<div class="docktitle"  @ondragstart="OnTitleDragStart" @ondragend="OnTitleDragEnd" draggable="true">*@

<div class="docktitle" @onmouseover=@event_actions.Events[EventNames.OnMouseOver] @onmousedown=@event_actions.Events[EventNames.OnMouseDown] @onmousedown:stopPropagation="true">
    
</div>

<div class="docktabs">
    @foreach(DockContent dtab in dock_data.Dock_Map[ID].Content_Map.Values){
        string ID =dtab.ID;
        bool active = dtab.Active;

        Action OnTabDragStart = dtab.OnTabDragStart;
        Action OnTabDragEnd = dtab.OnTabDragEnd;

        <div class="docktab" draggable="true" >
            @ID
        </div>
    }
</div>

<div class="dockcontent">
    @foreach(DockContent dtab in dock_data.Dock_Map[ID].Content_Map.Values){
        string ID =dtab.ID;
        DockContentType dct = dtab.DCT;
        bool active = !dtab.Active;
        <div class="innercontent" hidden=@active>
            @switch(dct){
                case DockContentType.DIV:
                    <div>
                        @ID
                    </div>
                break;
            }
        </div>
    }
</div>

@code {
    public string DragString = null;

    [Parameter]
    public string ID { get; set; } = "";
    
    [Parameter]
    public EventActionGroup parent_events { get; set; }

    public EventActionGroup event_actions { get; set; }

    protected override async Task OnInitializedAsync()
    {
        (this.event_actions = new EventActionGroup { 
            ID = this.ID,
            Parent = parent_events,
        }).FiredEvents[EventNames.OnMouseDown] = (event_data)=> {
            var med = event_data as MouseEventData;
            Console.WriteLine("Source: "+med.Source+" Target: "+med.Target);
        };

        input_service.RegisterElement(this.event_actions);

        await Task.CompletedTask;
    }

    public void Dispose(){
        input_service.UnregisterElement(event_actions);
    }

     /*
    public void OnTitleDragEnd(DragEventArgs e){
        Console.WriteLine("Ending drag");
        Console.WriteLine(e.ScreenX + ":" + e.ScreenY);
        Console.WriteLine(input_service.ScreenX + ":" + input_service.ScreenY);

        (bool, int, int) items = input_service.GetDragDifference(this.DragString, (int)e.ScreenX, (int)e.ScreenY);
        if(items.Item1){
            Console.WriteLine("difference: " + items.Item2 + ":" + items.Item3);
            style_updater.UpdateStyle(ID,             
            (            
                (int)(items.Item2),
                (int)(items.Item3)
            ));
        }
    }
    */
}
